{% extends 'index.html' %}


{% block content %}
    <section id="reserves">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                {% for item in message %}
                    <div class="row">
                        <div class="col-md-3">{{ item.name }}</div>
                        <div class="col-md-3">{{ item.email }}</div>
                        <div class="col-md-3">{{ item.subject }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><p>{{ item.message }}</p></div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}